body{
    margin:0;
}

/* LAYOUT */

nav{  
    
    height: 10%;
    display:flex;
    flex-direction: row;
    background-color: white;
    text-align: center;
}
nav a{
    text-decoration: none;
    font-family: "Poiret One";
    font-weight: bold;
    margin-left: 10pt;
    padding:10px;
    color:#FF0047;
}
nav img{
    margin: 0 10px;
    width: 35px;
    height: auto;
}
header{
    height:80vh;
}
header img{
    width:100%;
    height: 80vh;
    margin:0;
   
}

/* HOME */
#pagina-home{
    display:flex;
    flex-direction: column;
    text-align: center;

}
#home{
    height: 15vh;
    background-color:black;
    display: table;
    text-align:center;
    justify-content: center;
}
#pagina-home h1{
    margin-top:30px; 
    color:white;
    font-family: "poiret one";
    font-weight: bold;
}
#colunas{
    display:flex;
    margin-top:40px;
    margin-bottom:60px;
    justify-content: center;
}
#colunas h1{
    font-family: "poiret one";
    font-weight: bold;
    margin:0;
    color:#FF0047;
}
.padrao{
    margin: 70px;
    border-radius: 12pt;
    margin-top:50px;
    text-align: center;
    height:250px;
    width:330px;
    background-color: rgb(243, 231, 234);
    cursor:pointer;
    box-shadow:-12px 12px 3px #FF99B5;
}
.padrao img:hover{
    filter:brightness(150%);
    transition: 0.3s;
}
.padrao img{
    margin-top:10px;
    height:40%;
    width:auto;
}
.padrao p{
    margin:3pt;
    font-family:"poiret one";
    font-weight: bold;
}
footer{
    align-items: center;
    text-align: end;
    color:white;
    background-color: #FF0047;
    height: 7vh;
    bottom:100%;
    display:flex;
    justify-content: center;
}
/* LOGIN */

.header-login{
    display:flex;
    height: 15vh;
    background-color:black;
    text-align:center;
    justify-content: center;
}
.header-login h1{
    margin-top:25px;
    color:white;;
    font-family: "poiret one";
    font-weight: bold;
}

.login {

    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left:10px;
    width:25vw;
    height: 75vh;
    border-width: 2px;
    border-radius: 12px;
    background-color:#FF99B5;
    
}
.login p{
    font-family:"Poiret one";
    color:#FF0047;
    font-weight: bold;
    font-size:24pt;
    margin-top:20px;
}
.index{
    display:flex;
    justify-content: center;
    margin-top:5vh;
    margin-bottom: 60px;
}
.login h1{
    color: white;
    height: 10px;
    font-size:26pt;
    font-family: "Poiret One";
    margin-bottom:60px;
    margin-top:15px;
}
input{
    height: 40px;
    width: 240px;
    margin:10px;
}
.login input{
    margin:7px;
    height: 35px;
    border-radius:12px;
    align-items: center;
    border:none;
    
}
.login a{
    text-decoration:none;
    color:black;
    font-family:"poiret one";
    font-weight: bold;
    font-size: 10pt;
}
.botoes-submit input[type=submit]{
    
    display:flex;
    flex-direction: column;
    width:173px;
    font-family: "Poiret One";
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    cursor:pointer;
    background-color: #FF0047;
    color: #FF99B5;

}
.botoes-submit{
    margin-top:40px;
}


/* GUIA */
#guia{
    display:flex;
    height: 15vh;
    background-color:black;
    text-align:center;
    justify-content: center;
}
#guia h1{
    margin-top:25px;
    color:white;;
    font-family: "poiret one";
    font-weight: bold;
}
#busca{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF99B5;
    height:10%;
}
#busca input{
    width: 40%;
    margin-left:0;
    font-size:16pt;
}
#pagina-guia{
    margin-top:7vh;
    margin-bottom:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pagina-guia img{
    width: 400px;
    height: 250px;
    display: flex;
    background-color: rgb(243, 231, 234);
    box-shadow:-12px 12px 3px #FF99B5;
    border-radius:10px;
    margin: 0 40px 0;
    margin-bottom: 30px;
    cursor:pointer;
}
#pagina-guia div p{
    margin-bottom: 3px;
    font-family: "Poiret one";
    display: flex;
    justify-content: center;
    font-size:22pt;
    font-weight: bolder;
    color:#FF0047;
}
#pagina-guia img:hover{
    opacity:0.7;
    transition:0.4s;
}
#busca input[type="image"]{
    height:60%;
    width: auto;
    background-color: white;
    padding:7px;
    border-radius:50%;
}
#busca input[type="text"]{
    border-radius:3px;
    border:none;
}
/* CADASTRO */
/* #cadastro{
    font-family: "poiret one";
    color:white;
    background-color: #FF6691;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border-radius: 12px;
}
#cadastro .linha-cadastro{
    display: flex;
    justify-content: flex-end;
    width:100%;
    margin-right: 40%;
}
#cadastro input[type=submit]{
    display:flex;
    flex-direction: column;
    font-size:14pt;
    font-weight: bold;
}
#cadastro input[type=date]{
    margin-right: 9%;
} 
#cadastro input{
    margin-left: 10px;
    font-size: 12px;
    margin:7px;
    height: 35px;
    border-radius:12px;
    align-items: center;
    border:none;
}
#foto-cadastro{
    display:flex;
    justify-content: center;
}
#foto-cadastro p{
    display:flex;
}

#foto-cadastro img{
    display:flex;
    justify-content: flex-start;
    height: 90px;
    width: auto;

}

@media (min-width:1024px){
    #cadastro{
        width: 30vw;
        border-radius: 12px;
    }
    #cadastro .linha-cadastro{
        display: flex;
        justify-content: flex-end;
        width:100%;
        margin-right:130px;
    }
    #cadastro input{
        margin-left: 10px;
    }
    #cadastro input[type=submit]{
    
        margin-right: 60px;
    }
} */


@media (max_width:768px){
    toggle{
        display: block;
    }
}

/* PARCEIRAS */

#pagParceiras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    margin-top: 250px;
}
.circle{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 100%;
}
.coluna {
    flex-direction: column;
}
#inputparca{
    height: 100px;
    background-color: #FF0047;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputParceiras {
    font-size: 30px;
    text-align: center;
    align-items: center;
    align-self: center;
}
.paragrafosParceira{
    color: white;
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}