{% extends 'layout.html' %} 
{% load staticfiles %}

{% block content %}

    <div>
        {%  for i in items %}
        {% if i.nome == "Balada" %}
            <p>{{i.nome}}</p>
            <p>{{i.estabelecimentos.nome_estabelecimento}}</p>
            <p>{{i.estabelecimentos.endereco_estabelecimento}}</p>
            <p>{{i.estabelecimentos.horario_estabelecimento}}</p>
            <p>{{i.estabelecimentos.telefone_estabelecimento}}</p><br>
        {% endif %}
        {% endfor %}
    </div>

{% endblock %}