{% extends 'layout.html' %} 
{% load staticfiles %}

{% block content %}
<div id="busca">
    <input type="text" placeholder="    search">
</div>
<div>
    <img src="{% static 'icones/party-dj.png' %} " alt="">
    <img src="{% static 'icones/party-dj.png' %} " alt="">
</div>
<div>
    <img src="{% static 'icones/party-dj.png' %} " alt="">
    <img src="{% static 'icones/party-dj.png' %} " alt="">
</div>
<div>
    <img src="{% static 'icones/party-dj.png' %} " alt="">
    <img src="{% static 'icones/party-dj.png' %} " alt="">
</div>
{% endblock %}