{% extends 'layout.html' %} 
{% load staticfiles %}

{% block content %}
<div id="busca">
    <input type="text" name="nome-rua" placeholder="    Onde deseja ir?">
    <input type="image" src="{% static 'icones/musica-searcher.png' %}" alt="Submit" />
</div>
<div id="pagina-guia">
    <div>
        <img src="{% static 'icones/dancing.png' %} " alt="" onclick="window.location='/guiaresultados/'"> <P>Balada </P>
        <img src="{% static 'icones/park.png' %} " alt="" onclick="window.location='/guiaresultados/'"> <P>Parque</P>
        <img src="{% static 'icones/lazer.png' %} " alt="" onclick="window.location='/guiaresultados/'">  <P>Lazer  </P>
    </div>
    <div>
        <img src="{% static 'icones/gym.png' %} " alt="" onclick="window.location='/guiaresultados/'"> <P>Academia</P>
        <img src="{% static 'icones/cheers.png' %} " alt="" onclick="window.location='/guiaresultados/'"> <P>Bar</P>
        <img src="{% static 'icones/subway.png' %} " alt="" onclick="window.location='/guiaresultados/'"> <P>Outros </P>
    </div>
</div>

{% endblock %}