{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <title>Lovelace.</title>
</head>
<body>
    <nav>
        <a href='/home'>Home</a>
        <a href="">Perfil</a> 
        <a href="">Histórico</a>
        <a href="">Seja Parceira</a>
        <a href="">Ajuda</a>
    </nav>
<div id="guia">
    <h1>GUIA</h1>
</div>
<div id="busca">
    <input type="text" name="nome-rua" placeholder="    Onde deseja ir?">
    <input type="image" src="{% static 'icones/musica-searcher.png' %}" alt="Submit" />
</div>
<div id="pagina-guia">
    <div>
        <P>Balada </P>
        <img src="{% static 'icones/dancing.png' %} " alt=""> 
        <P>Parque</P>
        <img src="{% static 'icones/park.png' %} " alt=""> 
        <P>Lazer  </P>
        <img src="{% static 'icones/lazer.png' %} " alt="">  
    </div>
    <div>
        <P>Academia</P>
        <img src="{% static 'icones/gym.png' %} " alt="">
        <P>Bar</P>
        <img src="{% static 'icones/cheers.png' %} " alt="">
        <P>Outros </P>
        <img src="{% static 'icones/subway.png' %} " alt=""> 
    </div>
</div>
<footer> <p>Desenvolvido por alunas Mastertech © Todos os direitos reservados</p></footer>
</body>
</html>