{% extends 'layout.html'%}
{% load staticfiles %}

{% block content %}
    <div id="map">
        <div class="padrao">
            <img src="{% static 'icones/map.png' %}" alt="" onclick="window.location='/maps/'">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dicta minima doloribus tempora asperiores ex ea iusto dolores velit eveniet? Unde, eum illum. Deserunt enim, inventore excepturi accusantium porro doloremque.</p>
        </div> 
        <div id="guide">
            <div class="padrao">
                <img src="{% static 'icones/guide.png' %}" alt="" onclick="window.location='/guia/'">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dicta minima doloribus tempora asperiores ex ea iusto dolores velit eveniet? Unde, eum illum. Deserunt enim, inventore excepturi accusantium porro doloremque.</p>
            </div>
            <div id="help">
                <div class="padrao">
                    <img src="{% static 'icones/help.png' %}" alt="" onclick="window.location='/parceiras/'">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dicta minima doloribus tempora asperiores ex ea iusto dolores velit eveniet? Unde, eum illum. Deserunt enim, inventore excepturi accusantium porro doloremque.</p>
                </div>
                <div id="forum">
                    <div class="padrao">
                        <img src="{% static 'icones/forum.png' %}" alt="" onclick="window.location='/forum/'">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dicta minima doloribus tempora asperiores ex ea iusto dolores velit eveniet? Unde, eum illum. Deserunt enim, inventore excepturi accusantium porro doloremque.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
