{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <title>Lovelace.</title>
</head>
<body>
    <header>
        <img src="{% static 'icones/menu-button-of-three-horizontal-lines.png' %}" alt=""> 
        <h1 onclick="window.location='/maps/'">LOVELACE</h1>
    </header>

 {% block content %}

 {% endblock %}
</body>
