{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}

<div id="pagParceiras">
    <div class="coluna">
        <img src="" alt="">
        <p class="paragrafosParceira">Advogadas</p>
        <div class="coluna">
            <img src="" alt="">
            <p class="paragrafosParceira">Psicólogas</p>
            <div class="coluna">
                <img src="" alt="">
                <p class="paragrafosParceira">Ginecologistas</p>
            </div>
        </div>
    </div>
</div>
<div id="inputparca">
    <input type="text" placeholder="Serviços" class="inputParceiras"> <span><button>Enviar</button></span>
</div>


{% endblock %}